/* Roboto import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Poppins import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* background-image: url("/assets/imgs/header_bg.svg"); */
}

/* .logo {
    height: 100px;
    width: 100px;
} */

h1 {
    font-size: 45px;
}

h2 {
    font-size: 20px;
    font-weight: 100;
}

h3 {
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    color: #7E7E7E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav-item {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    /* background-color: #111; */
}

.active-menu-item {
    border-bottom: 5px solid #64C5B4;
}

.sign-up {
    background-color: #64C5B4;
    border: none;
    border-radius: 4px;
    color: white;
}

/* background svg 1 */
img.bg-img-1 {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner-list {
    display: flex;
    align-items: center;
}

li.banner-list-items {
    display: flex;
    align-items: center;
    line-height: 35px;
}

.items-list,
.tab-content-list {
    background-color: white;
}


.main-banner {
    margin-bottom: 45px;
    /* background-image: url("assets/imgs/header_bg.svg"); */

}

.get-started-btn {
    background-color: #64C5B4;
    color: white;
    height: 45px;
    width: 60%;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

/* sign up btn and banner Get Started btn hover */
.get-started-btn:hover,
.sign-up:hover {
    background-color: #EDB013;
    transition: 0.4s linear;
}

.text-center {
    text-align: center;
}

/* customers logos row */
.customers-row {
    margin-bottom: 70px;
}

/* vertical tabs */
/* Style the tab */
.row.tab-row {
    margin-bottom: 100px;
}

.tab {
    float: left;
    border: 1px solid #64C5B4;
    border-radius: 2px;
    width: 30%;
    height: auto;
    /* background-color: #f1f1f1; */
    /* height: 460px; */
}

.tablinks {
    width: 104% !important;
}

/* tab buttons active */
.tablinks.active {
    background-color: white !important;
    border-right: 10px solid #64C5B4;
}

/* tab buttons text */
.tablinks p {
    padding-right: 25px;
    margin-top: -25px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    border-bottom: 1px solid #64C5B4;
    margin-left: -12px;
    width: 107% !important;
    padding-left: 30px;
}

@media only screen and (max-width: 1399px) {
    .tab button {
        width: 108% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .tab button {
        width: 109% !important;
    }
}

@media only screen and (max-width: 991px) {
    .tab button {
        width: 113% !important;
    }
}

@media only screen and (max-width: 767px) {
    .tab button {
        width: 117% !important;
    }
}

/* last button no bottom border */
.tab button:nth-of-type(3) {
    border-bottom: none !important;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 30px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
    animation: slideFromBottom 2s;
    /* animation: fadeIn 1s; */
    /* height: 460px; */
}

ul.tab-content-list {
    list-style-type: disc !important;
    overflow: visible !important;
}

.tab-content-list li {
    font-size: 14px;
    color: #7E7E7E;
}

/* .tab-content.desc {
    animation: fadeIn 1s;
} */

.list-title {
    color: #04263D !important;
}

/* card styling */

.card {
    height: 500px;
    width: min-content;
    /* need to check */
    text-align: initial;
}

.card img {
    height: 170px;
}

.text-content {
    min-height: 125px;
    text-align: left;
}

.card .get-started-btn {
    background-color: #04263D;
    text-align: center;
}

.card .get-started-btn:hover {
    background-color: #0B64A0;
    transition: 0.6s linear;
}

.footer-logo {
    text-align: end;
}

/* banner svg animations */
#wheel-gear,
#wheel-gear-small {
    /* animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box; */
    animation: spin 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#pie-chart,
#circle-right {
    -webkit-animation: upDown 1s infinite alternate;
    animation: upDown 1s infinite alternate;
}

#bar-chart,
#circle-left {
    -webkit-animation: upDown 1.3s infinite alternate;
    animation: upDown 1.3s infinite alternate;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* tab content animation */
/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

@keyframes slideFromBottom {
    0% {
      margin-top: 23%;
    }
    100% {
      margin-top: 0;
    }
  }