/* Roboto import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Poppins import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 20px;
    font-weight: 100;
}

h3 {
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    color: #7E7E7E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav-item {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active-menu-item {
    border-bottom: 5px solid #64C5B4;
}

.sign-up {
    background-color: #64C5B4;
    border: none;
    border-radius: 4px;
    color: white;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(#EDB013, #EDB013);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

/* background svg 1 */
img.bg-img-1 {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* banner section items list */
.banner-list {
    display: flex;
    align-items: center;
}

li.banner-list-items {
    display: flex;
    align-items: center;
    line-height: 35px;
}

.items-list,
.tab-content-list {
    background-color: transparent;
}


.main-banner {
    margin-bottom: 45px;

}

/* Get Started button */
.get-started-btn {
    background-color: #64C5B4;
    color: white;
    height: 45px;
    width: 60%;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(#EDB013, #EDB013);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

/* sign up btn and banner Get Started btn hover */
.get-started-btn:hover,
.sign-up:hover {
    background-size: 100% 100%;
}

.text-center {
    text-align: center;
}

/* banner img svg */
@media only screen and (max-width: 1024px) {
    .banner-img {
        max-width: 84vw;
    }
}

/* customers logos row */
.customers-row {
    margin-bottom: 70px;
}

@media only screen and (max-width: 1024px) {
    .customers-img {
        max-width: 70vw;
    }
}

/* vertical tabs */
.row.tab-row {
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .row.tab-row {
        max-width: 96vw;
        padding-left: inherit;
    }
}

.tab {
    float: left;
    border: 1px solid #64C5B4;
    border-radius: 2px;
    width: 30%;
    height: auto;
}

.tablinks {
    width: 104% !important;
}

/* tab buttons active */
.tablinks.active {
    background-color: white !important;
    border-right: 10px solid #64C5B4;
}

/* tab buttons text */
.tablinks p {
    padding-right: 25px;
    margin-top: -25px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    border-bottom: 1px solid #64C5B4;
    margin-left: -12px;
    width: 107% !important;
    padding-left: 30px;
}

/* media queries for tab */
@media only screen and (max-width: 1399px) {
    .tab button {
        width: 108% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .tab button {
        width: 109% !important;
    }
}

@media only screen and (max-width: 991px) {
    .tab button {
        width: 113% !important;
    }
}

@media only screen and (max-width: 767px) {
    .tab button {
        width: 117% !important;
    }
}

/* last button no bottom border */
.tab button:nth-of-type(3) {
    border-bottom: none !important;
}

/* tab content */
.tabcontent {
    float: left;
    padding: 0px 30px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
    line-height: 25px !important;
}

.tabcontent .desc {
    animation: slideFromBottom 0.5s;
}

ul.tab-content-list {
    list-style-type: disc !important;
    overflow: visible !important;
}

.tab-content-list li {
    font-size: 14px;
    color: #7E7E7E;
}

.tabcontent .coming-soon {
    color: #AAAAAA !important;
}

.coming-soon .list-title {
    color: #AAAAAA !important;
}

.list-title {
    color: #04263D !important;
}

/* card styling */
.card {
    height: 500px;
    width: min-content;
    text-align: initial;
    font-family: 'Roboto', sans-serif;
}

.card img {
    height: 170px;
}

.text-content {
    min-height: 125px;
    text-align: left;
}

.card .get-started-btn {
    background-color: #04263D;
    text-align: center;
    background-image: linear-gradient(#0B64A0, #0B64A0);
}

.card .get-started-btn:hover {
    background-size: 100% 100%;
}

/* footer */
.footer {
    background: #F5F8FE;
    clip-path: polygon(0 62%, 100% 0, 100% 100%, 0% 100%);
    /* position: absolute; */
    /* left: 0; */
    position: absolute;
    /* bottom: 0; */
    left: 0;
    right: 0;
    padding-top: 260px;
    width: 100vw;
    padding-bottom: 80px;
}

.footer-main,
.footer-main a {
    color: #7E7E7E;
    text-decoration: none;
}

.footer-logo {
    text-align: end;
}

/* banner svg animations */
#wheel-gear,
#wheel-gear-small {
    animation: spin 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#pie-chart,
#circle-right {
    -webkit-animation: upDown 1s infinite alternate;
    animation: upDown 1s infinite alternate;
}

#bar-chart,
#circle-left {
    -webkit-animation: upDown 1.3s infinite alternate;
    animation: upDown 1.3s infinite alternate;
}

/* animations key frames */
@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideFromBottom {
    0% {
        margin-top: 23%;
    }

    100% {
        margin-top: 0;
    }
}